body{
    position: relative;
    top: 50px;
}
.container {
    width: 35%;
    margin: auto;
    background: #f5f7fb;
    padding: 20px;
    border-radius: 10px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: 600;
}

input, textarea, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #152347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

@media(max-width: 550px) {

    h1{
        font-size: 18px;
    }

    .container {
        width: 100%;
        padding: 10px;
        position: relative;
    
    }
    input[type="text"], input[type="email"] {
        width: 80%;
        padding: 8px;
    }
    
    button {
        width: 100px;
        padding: 8px;
        margin-left: 0;
    }
}