{% extends 'admissions/base.html' %}
{% load static %}

{% block title %}
<title>Student Registration</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admissions/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <form action="{% url 'student' %}" method="post">

        {% csrf_token %}

        <h3>Personal Information</h3>
        <p>Student basic details & guardian info</p>
        {{ form.as_p }}


        <button type="submit">Register</button>
    </form>
</div>
{% if students %}
<script>
    alert("Student {{ students.name }} registered successfully!");
</script>
{% endif %}
{% endblock content %}