{% extends 'admissions/base.html' %}
{% load static %}

{% block title %}
<title>Student Registration</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admissions/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <form method="POST" action="{% url 'student' %}">
    {% csrf_token %}

    {{ student_form.as_p }}

    <h3>Select Course</h3>
    {{ admission_form.course }}

    <button type="submit">Register</button>
</form>
</div>
{% if students %}
<script>
    alert("Student {{ students.name }} registered successfully!");
</script>
{% endif %}
{% endblock content %}