{% extends 'admissions/base.html' %}
{% load static %}

{% block title %}
<title>Student List</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admissions/css/student_list.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <h2>Student List</h2>

    <!-- FILTER FORM -->
    <form method="GET" class="top-bar">

        <input type="text" name="search" value="{{ request.GET.search }}" placeholder="Search name">

        <select name="course">
            <option value="">All Course</option>
            {% for c in courses %}
            <option value="{{ c.course }}" {% if request.GET.course == c.course %}selected{% endif %}>
                {{ c.course }}
            </option>
            {% endfor %}
        </select>

        <select name="batch">
            <option value="">All Batch</option>

            <option value="Batch - A" {% if request.GET.batch == "Batch - A" %}selected{% endif %}>
                Batch - A
            </option>

            <option value="Batch - B" {% if request.GET.batch == "Batch - B" %}selected{% endif %}>
                Batch - B
            </option>

            <option value="Batch - C" {% if request.GET.batch == "Batch - C" %}selected{% endif %}>
                Batch - C
            </option>
        </select>

        <button type="submit">Filter</button>
    </form>

    Total Students: {{ total_students }}

    <!-- TOP BAR -->
    <div class="table-container">

        <!-- DOWNLOAD -->
        <form method="get">
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <input type="hidden" name="course" value="{{ request.GET.course }}">
            <input type="hidden" name="batch" value="{{ request.GET.batch }}">

            <select name="format">
                <option value="">Select format</option>
                <option value="excel">Download Excel</option>
                <option value="pdf">Download PDF</option>
            </select>

            <button type="submit">Download</button>
        </form>

        <a href="{% url 'student' %}">
            <button class="btn1">+ Add new Student</button>
        </a>
    </div>

    <!-- TABLE -->
    <table>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Batch</th>
            <th>Phone</th>
            <th>Payment</th>
            <th>Joined</th>
            <th>Action</th>
            <th>Status</th>
            <th></th>
        </tr>

        {% for student in page_obj %}
        {% if student.enrollments.all %}
        {% for e in student.enrollments.all %}
        <tr>
            <td>{{ student.First_name }} {{ student.Last_name }}</td>
            <td>{{ e.course }}</td>
            <td>{{ e.batch }}</td>
            <td>{{ student.phone_no }}</td>
            <td>
                <span class="badge {{ e.payment_status|lower }}">
                    {{ e.payment_status }}
                </span>
            </td>
            <td>{{ e.start_date }}</td>
            <td>
                {% if student.enrollments.exists %}
                <button disabled style="background: gray;">Enrolled</button>
                {% else %}
                <a href="{% url 'enroll' student.id %}">
                    <button style="background: green; color: white;">Enroll</button>
                </a>
                {% endif %}
            </td>
            <td>
                {% if student.enrollments.exists %}
                <span style="color: green; font-weight: bold;">Enrolled</span>
                {% else %}
                <span style="color: red;">Not Enrolled</span>
                {% endif %}
            </td>
            <td class="dropdown">
                <button class="dots">⋮</button>

                <div class="dropdown-content">
                    <a href="{% url 'edit_student' student.id %}">Edit</a>
                    <a href="{% url 'delete_student' student.id %}" onclick="confirmDelete(event, this.href)">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>{{ student.First_name }} {{ student.Last_name }}</td>
            <td colspan="5">No enrollment</td>
            <td>
                {% if student.id %}
                <a href="{% url 'enroll' student.id %}">
                    <button style="background: green; color: white;">Enroll</button>
                </a>
                {% else %}
                <span>Error: No ID</span>
                {% endif %}
            </td>

            <td>
                <span style="color: red;">Not Enrolled</span>
            </td>
        </tr>
        {% endif %}
        {% empty %}
        <tr>
            <td colspan="6">No students found</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
function confirmDelete(event, url) {
    event.preventDefault();

    Swal.fire({
        title: "Are you sure?",
        text: "This student will be deleted permanently!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!"
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = url;   
        }
    });
}
</script>

{% endblock %}
