{% extends 'admissions/base.html' %}
{% load static %}

{% block title %}
<title>Student List</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admissions/css/student_list.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <!-- FILTER FORM -->
    <form method="GET" class="top-bar">

        <input type="text" name="search" pattern="^[A-Za-z ]+$" value="{{ request.GET.search }}" placeholder="Search name">

        <input type="text" name="id" pattern="^\d{1,5}$" value="{{ request.GET.id }}" placeholder="Search ID">

        <select name="course">
            <option value="">All Course</option>
            {% for c in courses %}
            <option value="{{ c.course }}" {% if request.GET.course == c.course %}selected{% endif %}>
                {{ c.course }}
            </option>
            {% endfor %}
        </select>

        <select name="batch">
            <option value="">All Batch</option>
            <option value="Batch A" {% if request.GET.batch == "Batch A" %}selected{% endif %}>Batch A</option>
            <option value="Batch B" {% if request.GET.batch == "Batch B" %}selected{% endif %}>Batch B</option>
            <option value="Batch C" {% if request.GET.batch == "Batch C" %}selected{% endif %}>Batch C</option>
        </select>

        <a href="{% url 'student_list' %}">
            <button type="button" id="btn2">Reset</button>
        </a>
        <a href="#">
            <button type="submit" id="filter">Search</button>
        </a>
    </form>

    Total Students: {{ total_students }}

    <!-- DOWNLOAD -->
    <div class="table-container">
        <form method="GET">
            <div id="btn1">
                <select name="format">
                    <option value="">Select format</option>
                    <option value="excel">Download Excel</option>
                    <option value="pdf">Download PDF</option>
                </select>
                <button type="submit" id="btn2">Download</button>
            </div>

        </form>

        <a href="{% url 'student' %}">
            <button id="btn2" class="btn2">+ Add new Student</button>
        </a>
    </div>

    <!-- TABLE -->
    <table>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Batch</th>
            <th>Phone</th>
            <th>Fee Status </th>
            <th>Admission Status</th>
            <th>Joined</th>
            <th>Profile</th>
            <th>Action</th>
            <th></th>
        </tr>

        {% for student in page_obj %}
        {% for admission in student.admissions.all %}
        {% with e=admission.enrollment %}
        <tr>
            <td>{{ student.First_name }} {{ student.Last_name }}</td>

            <td>{{ admission.course }}</td>

            <td>
                {% if e %}
                {{ e.batch }}
                {% else %}
                -
                {% endif %}
            </td>

            <td>{{ student.phone_no }}</td>

            <td>
                {% if e %}
                <span class="badge {{ e.payment_status|lower }}">
                    {{ e.payment_status }}
                </span>
                {% else %}
                -
                {% endif %}
            </td>

            <!-- STATUS -->
            <td>
                <span class="badge {{ admission.status|lower }}">
                    {{ admission.status|title }}
                </span>
            </td>

            <td>
                {% if e %}
                <span>
                    {{ e.start_date }}
                </span>
                {% else %}
                -
                {% endif %}
            </td>

            <td>
                <a href="{% url 'view_student' student.id %}">View</a>
            </td>

            <!-- ACTION -->
            <td class="dropdown">
                <button class="dots" onclick="toggleDropdown(this)">⋮</button>

                <div class="dropdown-content">
                    <a href="{% url 'edit_student' student.id %}">Edit</a>
                    <a href="{% url 'delete_student' student.id %}" onclick="confirmDelete(event, this.href)">Delete</a>
                </div>
            </td>
        </tr>
        {% endwith %}
        {% empty %}
        <tr>
            <td>{{ student.First_name }} {{ student.Last_name }}</td>
            <td colspan="6">No admission</td>
        </tr>
        {% endfor %}
        {% empty %}
        <tr>
            <td colspan="9">No students found</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="pagination-container">

    <!-- LEFT TEXT -->
    <div class="pagination-info">
        Showing {{ page_obj.end_index }} of {{ page_obj.paginator.count }} students
    </div>

    <!-- RIGHT BUTTONS -->
    <div class="pagination-buttons">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn prev">Prev</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn next">Next </a>
        {% endif %}
    </div>

</div>

<!-- DELETE CONFIRM -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmDelete(event, url) {
        event.preventDefault();

        Swal.fire({
            title: "Are you sure?",
            text: "This student will be deleted permanently!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>

<script>
function toggleDropdown(button) {
    let dropdown = button.nextElementSibling;
    dropdown.classList.toggle("show");
}

// optional: outside click close
document.addEventListener("click", function(e) {
    if (!e.target.matches('.dots')) {
        document.querySelectorAll(".dropdown-content").forEach(d => {
            d.classList.remove("show");
        });
    }
});
</script>

{% endblock %}