{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Student Attendance System</title>
    {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'attendance/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}
    {% endblock extra_css %}
</head>

<body>

    <div class="sidebar">

        <div class="sidebar">

            <h4 class="logo-heading">
                CSC CRM
            </h4>

            <a href="{% url 'batches_page' %}" class="active">
                <i class="fa-solid fa-layer-group"></i>
                Batches
            </a>

            <a href="#">
                <i class="fa-solid fa-square-check"></i>
                Mark Attendance
            </a>

            <a href="">
                <i class="fa-solid fa-clock-rotate-left"></i>
                Attendance Report
            </a>

            <a href="#">
                <i class="fa-solid fa-user-xmark"></i>
                Absent Tracker
            </a>

            <a href="#">
                <i class="fa-solid fa-book"></i>
                Syllabus Log
            </a>


        </div>

    </div>


    <div class="menu-toggle" id="menuToggle">
        <i class="fa-solid fa-bars"></i>
    </div>

    </nav>


    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="alert 
                {% if message.tags == 'success' %}
                    alert-success
                {% elif message.tags == 'error' %}
                    alert-danger
                {% endif %}
            ">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}

    <script>

        const toggle = document.getElementById("menuToggle");
        const navLinks = document.getElementById("navLinks");

        toggle.addEventListener("click", () => {
            navLinks.classList.toggle("show");
        });

    </script>

    <script>

        setTimeout(() => {

            const alerts = document.querySelectorAll(".alert");

            alerts.forEach(alert => {

                alert.style.display = "none";

            });

        }, 3000);

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>



</html>